.expo/
node_modules/
.vercel/
.vercel
package-lock.json
.env
.env.local
.env.*
.next/
dist/
*.log

# Exclude sensitive raw source folders
/pipeline/St George's Cloud/
/pipeline/St George's Cloud Organized/
/pipeline/local-organizer/

